<div class="registerFormContainer">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="registerForm">

        <label class="registerLabel" for="lastName">Nom : </label>
        <div class="registerDiv">
            <input class="registerInput" type="text" id="lastName" formControlName="lastName" placeholder="Votre nom" />
            <span class="errorSpan" *ngIf="submitted && form['lastName'].invalid">
                <!-- Pour afficher une erreur si le champ ne contient pas au moins 3 caractères -->
                <span *ngIf="form['lastName'].hasError('minlength')">
                    * Votre nom doit contenir au moins 3 caractères
                </span>
                <!-- Pour afficher une erreur si le champ est vide -->
                <span *ngIf="!form['lastName'].value">
                    * Votre nom est requis
                </span>
            </span>
        </div>

        <label class="registerLabel" for="firstName">Prénom : </label>
        <div class="registerDiv">
            <input class="registerInput" type="text" id="firstName" formControlName="firstName"
                placeholder="Votre prénom" />
            <span class="errorSpan" *ngIf="submitted && form['firstName'].invalid">
                <!-- Pour afficher une erreur si le champ ne contient pas au moins 3 caractères -->
                <span *ngIf="form['firstName'].hasError('minlength')">
                    * Votre prénom doit contenir au moins 3 caractères
                </span>
                <!-- Pour afficher une erreur si le champ est vide -->
                <span *ngIf="!form['firstName'].value">
                    * Votre prénom est requis
                </span>
            </span>
        </div>

        <label class="registerLabel" for="email">Email : </label>
        <div class="registerDiv">
            <input class="registerInput" type="email" id="email" formControlName="email" placeholder="Email" />
            <span class="errorSpan" *ngIf="submitted && form['email'].invalid">
                <!-- Pour afficher une erreur si le champ ne contient pas une adresse email au bon format -->
                <span *ngIf="form['email'].hasError('email')">
                    * Votre email doit être au format : 'Example@email.com'
                </span>
                <!-- Pour afficher une erreur si le champ est vide -->
                <span *ngIf="!form['email'].value">
                    * Votre email est requis
                </span>
            </span>
        </div>

        <label class="registerLabel" for="password">Mot de passe : </label>
        <div class="registerDiv">
            <input class="registerInput" type="password" id="password" formControlName="password"
                placeholder="Mot de passe" />
            <span class="errorSpan" *ngIf="submitted && form['password'].invalid">
                <!-- Pour afficher une erreur si le champ ne contient pas au moins 6 caractères -->
                <span *ngIf="form['password'].hasError('minlength')">
                    * Votre mot de passe doit contenir au moins 6 caractères
                </span>
                <!-- Pour afficher une erreur si le champ est vide -->
                <span *ngIf="!form['password'].value">
                    * Votre mot de passe est requis
                </span>
            </span>
            <!-- Pour afficher une erreur si les deux mots de passe ne correspondent pas -->
            <span class="errorSpanPassword" *ngIf="submitted">
                <span *ngIf="form['password'].value != form['confirmPassword'].value">
                    * Les deux mots de passe doivent correspondre
                </span>
            </span>
        </div>

        <label class="registerLabel" for="confirmPassword">Confirmer mot de passe : </label>
        <div class="registerDiv">
            <input class="registerInput" type="password" id="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirmer mot de passe" />
            <span class="errorSpan" *ngIf="submitted && form['confirmPassword'].invalid">
                <!-- Pour afficher une erreur si le champ ne contient pas au moins 6 caractères -->
                <span *ngIf="form['confirmPassword'].hasError('minlength')">
                    * La confirmation du mot de passe doit contenir au moins 6 caractères
                </span>
                <!-- Pour afficher une erreur si le champ est vide -->
                <span *ngIf="!form['confirmPassword'].value">
                    * La confirmation du mot de passe est requise
                </span>
            </span>
            <!-- Pour afficher une erreur si les deux mots de passe ne correspondent pas -->
            <span class="errorSpanPassword" *ngIf="submitted">
                <span *ngIf="form['password'].value != form['confirmPassword'].value">
                    * Les deux mots de passe doivent correspondre
                </span>
            </span>
        </div>

        <!-- Ajouter [disabled]="userForm.invalid" pour désactiver le bouton si tous les champs ne sont pas valides -->
        <button class="registerButton" type="submit">Valider</button>

        <p class="registerBottomText">Déjà inscrit ? <b class="loginNow" routerLink="/">Connectez vous</b> !</p>

    </form>
</div>
<app-success-popup *ngIf="showSuccessPopup" message="Compte créé avec succès !"></app-success-popup>
<app-error-popup *ngIf="showErrorPopup" message="Erreur, cet email est déjà utilisé !"></app-error-popup>