.pokemonCard {
  position: relative;
  height: 40vh;
  min-height: 350px;
  width: 20vw;
  min-width: 310px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #9bd6fd;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.726);
  margin: 3% 3% 0 3%;
  z-index: 2;

  .pokemonName {
    margin: 1% 0 0 1%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  .divImageAndType {
    display: flex;

    img {
      height: 50%;
      width: 50%;
    }

    .divTypes {
      width: 25%;

      .type1,
      .type2 {
        margin-left: 10%;
        font-size: 1.3em;
      }
    }
  }

  .pokemonDescription {
    margin-left: 5%;
    font-size: 1.1em;
    height: 25%;
  }

  .pokemonPrice {
    position: absolute;
    font-size: 2em;
    bottom: -5%;
    left: 3%;
  }

  .addToCartButton {
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 1.2em;
    border: 1px solid #006cb5;
    border-radius: 10px;
    padding: 1% 2%;
    background-color: #47b4fd;
  }
}

.pokemonCard:hover {
  transform: scale(105%);
  transition: 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .pokemonCard {
    min-width: 210px;

    .pokemonName {
      font-size: 1.5em;
    }

    .divImageAndType {
      img {
        height: 40%;
        width: 40%;
      }

      .divTypes {
        width: 90%;
        display: flex;
        flex-direction: column;

        .type1,
        .type2 {
          font-size: 1em;
        }
      }
    }

    .pokemonDescription {
      font-size: 1em;
    }

    .pokemonPrice {
      font-size: 2em;
      bottom: 5%;
    }
  }
}

@media screen and (max-width: 575px) {
  .pokemonCard {
    min-width: 150px;

    .pokemonName {
      font-size: 1.2em;
    }

    .divImageAndType {
      img {
        height: 40%;
        width: 40%;
      }

      .divTypes {
        width: 90%;
        display: flex;
        flex-direction: column;

        .type1,
        .type2 {
          font-size: 1em;
        }

        p {
          margin: 0;
        }
      }
    }

    .pokemonDescription {
      font-size: 1em;
    }

    .pokemonPrice {
      font-size: 1.5em;
      bottom: 12%;
    }
  }
}
