<div class="loginFormContainer">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="loginForm">

        <label class="loginLabel" for="email">Email : </label>
        <div class="loginDiv">
            <input class="loginInput" type="email" id="email" formControlName="email" placeholder="Email" />
        </div>

        <label class="loginLabel" for="password">Password : </label>
        <div class="loginDiv">
            <input class="loginInput" type="password" id="password" formControlName="password" placeholder="Password" />
        </div>

        <button class="loginButton" type="submit">Login</button>

        <p class="loginBottomText">New user ? <b class="registerNow" routerLink="/register">Register now</b> !</p>

    </form>
</div>