<div class="loginFormContainer">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="loginForm">

        <label class="loginLabel" for="email">Email : </label>
        <div class="loginDiv">
            <input class="loginInput" type="email" id="email" formControlName="email" placeholder="Email" />
        </div>

        <label class="loginLabel" for="password">Mot de passe : </label>
        <div class="loginDiv">
            <input class="loginInput" type="password" id="password" formControlName="password"
                placeholder="Mot de passe" />
        </div>

        <button class="loginButton" type="submit">Se connecter</button>

        <p class="loginBottomText">Nouveau ici ? <b class="registerNow" routerLink="/register">Je m'enregistre</b> !</p>

    </form>
</div>