<div class="homepageSearchbar">
    <input class="homepageSearchbar" type="text" value={{searchbarInput}} [(ngModel)]="searchbarInput"
        placeholder="Rechercher un pokémon par nom...">
</div>

<div class="homepageMainContainer">
    <div class="filterByType">
        <h2>Recherche par type :</h2>
        <div>
            <input type="checkbox" id="feu" value="feu"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'feu') && (checkedCounter > 1 && checkboxValue_2 != 'feu') "
                (change)="onCheckboxChange($event)">
            <label for="feu">Feu</label>
        </div>
        <div>
            <input type="checkbox" id="eau" value="eau"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'eau') && (checkedCounter > 1 && checkboxValue_2 != 'eau') "
                (change)="onCheckboxChange($event)">
            <label for="eau">Eau</label>
        </div>
        <div>
            <input type="checkbox" id="plante" value="plante"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'plante') && (checkedCounter > 1 && checkboxValue_2 != 'plante') "
                (change)="onCheckboxChange($event)">
            <label for="plante">Plante</label>
        </div>
        <div>
            <input type="checkbox" id="poison" value="poison"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'poison') && (checkedCounter > 1 && checkboxValue_2 != 'poison') "
                (change)="onCheckboxChange($event)">
            <label for="poison">Poison</label>
        </div>
        <div>
            <input type="checkbox" id="vol" value="vol"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'vol') && (checkedCounter > 1 && checkboxValue_2 != 'vol') "
                (change)="onCheckboxChange($event)">
            <label for="vol">Vol</label>
        </div>
        <div>
            <input type="checkbox" id="insecte" value="insecte"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'insecte') && (checkedCounter > 1 && checkboxValue_2 != 'insecte') "
                (change)="onCheckboxChange($event)">
            <label for="insecte">Insecte</label>
        </div>
        <div>
            <input type="checkbox" id="normal" value="normal"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'normal') && (checkedCounter > 1 && checkboxValue_2 != 'normal') "
                (change)="onCheckboxChange($event)">
            <label for="normal">Normal</label>
        </div>
        <div>
            <input type="checkbox" id="electrique" value="electrique"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'electrique') && (checkedCounter > 1 && checkboxValue_2 != 'electrique') "
                (change)="onCheckboxChange($event)">
            <label for="electrique">Electrique</label>
        </div>
        <div>
            <input type="checkbox" id="sol" value="sol"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'sol') && (checkedCounter > 1 && checkboxValue_2 != 'sol') "
                (change)="onCheckboxChange($event)">
            <label for="sol">Sol</label>
        </div>
        <div>
            <input type="checkbox" id="fée" value="fée"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'fée') && (checkedCounter > 1 && checkboxValue_2 != 'fée') "
                (change)="onCheckboxChange($event)">
            <label for="fée">Fée</label>
        </div>
        <div>
            <input type="checkbox" id="combat" value="combat"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'combat') && (checkedCounter > 1 && checkboxValue_2 != 'combat') "
                (change)="onCheckboxChange($event)">
            <label for="combat">Combat</label>
        </div>
        <div>
            <input type="checkbox" id="psy" value="psy"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'psy') && (checkedCounter > 1 && checkboxValue_2 != 'psy') "
                (change)="onCheckboxChange($event)">
            <label for="psy">Psy</label>
        </div>
        <div>
            <input type="checkbox" id="roche" value="roche"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'roche') && (checkedCounter > 1 && checkboxValue_2 != 'roche') "
                (change)="onCheckboxChange($event)">
            <label for="roche">Roche</label>
        </div>
        <div>
            <input type="checkbox" id="spectre" value="spectre"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'spectre') && (checkedCounter > 1 && checkboxValue_2 != 'spectre') "
                (change)="onCheckboxChange($event)">
            <label for="spectre">Spectre</label>
        </div>
        <div>
            <input type="checkbox" id="glace" value="glace"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'glace') && (checkedCounter > 1 && checkboxValue_2 != 'glace') "
                (change)="onCheckboxChange($event)">
            <label for="glace">Glace</label>
        </div>
        <div>
            <input type="checkbox" id="dragon" value="dragon"
                [disabled]="(checkedCounter > 1 && checkboxValue != 'dragon') && (checkedCounter > 1 && checkboxValue_2 != 'dragon') "
                (change)="onCheckboxChange($event)">
            <label for="dragon">Dragon</label>
        </div>
    </div>

    <!-- Affiche tous les pokémons, si on a rien tapé dans la searchbar et aucun filtre par type n'est cliqué -->
    <div *ngIf="searchbarInput =='' && checkboxValue == '' " class="homepageContainer">
        <div class="cardMapped" *ngFor="let pokemon of pokemonList">
            <app-pokemon-card [pokemon]="pokemon" [user]="user"></app-pokemon-card>
        </div>
    </div>

    <!-- Affiche les pokémons filtrés par la searchbar -->
    <div class="homepageContainer" *ngIf="searchbarInput != '' ">
        <div class="cardMapped" *ngFor="let pokemon of pokemonList | filter: searchbarInput">
            <app-pokemon-card [pokemon]="pokemon" [user]="user"></app-pokemon-card>
        </div>
    </div>

    <!-- Affiche les pokémons filtrés par les checkbox -->
    <div class="homepageContainer" *ngIf="checkboxValue != '' ">
        <div class="cardMapped" *ngFor="let pokemon of pokemonList | checked: checkboxValue: checkboxValue_2">
            <app-pokemon-card [pokemon]="pokemon" [user]="user"></app-pokemon-card>
        </div>
    </div>
</div>